.line{
    display: flex;
}

.position_left{
     position: absolute;
     left: 90%;
}
.position_centr{
         position: absolute;
     left: 50%;
}

.input{
    display: block;
    padding: 7px;
    margin: 8px;
}

.el1 {
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    padding: 5px;
    margin: 30px;
    border: 5px solid black;

}


.el2 {
    position: absolute;
    left: 80%;
    box-sizing: content-box;
    width: 30px;
    padding: 5px;
    margin: 30px;
    border: 5px solid black;
   
}